 
body {
    font-family: roboto;
}

.shapka {
    display: flex; 
    padding: 20px 40px 20px 40px;
}

.navbar{
    display: flex;
    margin-left: auto 
}

li {
    list-style: none;
    display: inline;
}

.OnasButton {
    padding: 0px 10px;
    

}
.button-change {
    background-color: transparent;
    border: none; 
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 20px; 
}

.Enter {
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px 30px;
    color: black;
    background: white;
    border: 1px solid rgba(27, 27, 27, 0.4);
    cursor: pointer;
    transition: .3s linear;
}

.main-pic {
    display:flex;
    justify-content: center;
    margin-top: 150px;
}

.Onas {
    display:flex;
    justify-content: center;
    text-align: justify;
    font-size: 64px;
    
}
.text {
    display:flex;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    padding: 0px 258px 100px 258px;
    text-align: justify;    
}

.sec2 {
    background-color: #F7F9FB;
}
.Contacts {
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
}


.Info {
    display: flex;
    justify-content: center;
    padding-bottom: 104px;
}

.Levo {
    font-size: 20px;
    width: 100%;
    text-align: center;
    }
.Pravo {
    font-size: 20px;
    width: 100%;
    text-align: center;
}
 
.sec3 {
    padding-bottom: 104px;
    padding-top: 80px;
}

.container1 {
    display:flex;
    justify-content: center;
    padding-top: 0px;
    flex-wrap: wrap;
}

.card {
    padding: 73px;
}

.cardstyle {
    text-align: center;
}

.container2 {
    display:flex;
    justify-content: center;
}

.footer {
    background-color: #3F3D56;
}

.container3 {
    display:flex;
}
    



.Rights {
    color: white;
    font-family: roboto;
    padding: 20px;
    opacity: 0.4; 
}

.ButtonFooter {
    background-color: transparent;
    cursor: pointer; 
    padding: 20px;
}

.btn {
    background-color: transparent; 
    border: none; 
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
    padding: 5px;
}

